/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
	.content {
		padding: 0px 15px;
	}
	.artist__list li {
		flex-basis: 33%;
	}
	.partners__list li {
		flex-basis: 49%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.frequently__list li h2  {
		margin-top: 10px;
	}
}

/* md <= Large (lg) */
@media (max-width : 992px) {
	.footer__list {
		flex-basis: 75%;
	}
}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	.burger {
		display: block;
	}
	.header__items .nav {
		justify-content: space-between;
	}
	.nav__items {
		display: none;
	}
	.artist__list li {
		flex-basis: 49%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.footer__items {
		justify-content: center;
	}
	.footer__list {
		flex-basis: 100%;
	}
}

/* xs <= Small (sm) */
@media (max-width : 576px) {

}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}
