@import url(text-style.css);
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top; max-width: 100%;}

/*--------------------*/

/*============ FLEX-CONTAINER-FOR_DOWN_FOOTER =======*/
._container {
	display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
	margin-top: 100px;
  flex-grow: 1;
}
footer {
  flex-shrink: 0;
}

/*===================================================*/

.content {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
}

body {
	background: black;
}

/* HEADER */

.header {
	background: black;
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0%;
	left: 0%;
}
.header__items {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.header__items .nav {
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
}
.nav__items {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav__items.active {
	position: absolute;
	top: 100%;
	left: 0%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 20px;
	padding: 20px;
	background-color: black;
}
.nav__items.active .nav__menu {
	margin-left: 0px;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
}


.logo , .social {
	flex-grow: 0;
}
.nav__menu {
	margin-left: 60px;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 40px;
}
.nav__link {
	font-family: DM Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
}

.social {
	display: flex;
	align-items: center;
	gap: 10px;
}
.social li {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
}

.burger {
	display: none;
	width: 25px;
	height: 20px;
	position: relative;
	z-index: 10;

}
.burger span {
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: white;
	left: 0%;
}
.burger span:first-child {
	top : 0 ;
	left: 0%;
}
.burger span:nth-child(2){
	top: 50%;
	transform: translateY(-50%);
}
.burger span:last-child {
	bottom: 0%;
}

.burger.active span:first-child {
	top: 50%;
	transform: rotate(45deg);
}
.burger.active span:nth-child(2){
	display: none;
}
.burger.active span:last-child {
	top: 50%;
	transform: rotate(-45deg);
}

/* MAIN */ 
section:not(section.master-section){
	margin-top: 150px;
}
.master-section__items {
	padding: 40px 0px;
	width: 100%;
	display: flex;
	align-items: center;
}
.master-section__text {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.master-section__text , .master-section__swiper {
	max-width: 50%;
}
.master-section__swiper .swiper-slide img {
	width: 100%;
}

.button {
	width: 205px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #8DFD1B;

	font-family: DM Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	color: black;
}



/* COLLECTION */ 
.section__items {
	width: 100%;
	display: flex;
}
.sect__item {
	flex-basis: 50%;
}
.sect__item:first-child {
	padding-right: 15%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}
.sect__item:first-child h2 {
	text-align: left;
	margin-bottom: 0px;
}
.sect__item p {
	margin: 9px 0px;
}
.sect__item .button {
	margin-top: 30px;
}

/* ARTIST */


.artist__list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 50px 0px ;
}
.artist__list li {
	flex-basis: 23%;
}
.artist__img {
	max-width: 245px;
	max-height: 245px;
}
.artist__list h3 {
	margin-top: 20px;
	text-align: center;
}


/* MRL STORY */

.mrl__item {
	width: 100%;
	display: flex;
}
.mrl__list {
	flex-basis: 25%;
}
.mrl__list li {
	width: 100%;
	padding:  25px 0px;
	padding-left: 25px;
	transition: all 0.6s ease-out;
}
.mrl__list li h3 {
	display: inline-block;
	cursor: pointer;
}
.mrl__list li:hover ,.mrl__list li:active , .mrl__list li:focus{
	background: #222222;
}
.mrl__list li:hover h3  ,.mrl__list li:active h3 , .mrl__list li:focus h3 {
	color: #8DFD1B;
}
.mrl__contents {
	flex-basis: 75%;
}
.mrl__content {
	max-width: 100%;
	display: flex;
	padding: 40px;
	background: #222222;
}
.mrl__content.hide {
	display: none;
}
.mrl-img {
	margin-right: 40px;
	max-height: 250px;
}
.mrl__content_text p {
	margin: 18px 0px;
}


/* Banner */ 
.banner {
	width: 100%;
	height: 240px;
	background-image: url(../img/banner.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Roadmap */ 

.roadmap {
	position: relative;
}
.rings {
	position: absolute;
}
.rings:first-child {
	top: -25%;
  transform: translateY(25%);
	left: 0%;
}
.rings:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}
.rings:nth-child(3) {
	bottom: -50%;
	transform: translateY(-50%);
	left: 0;
}

.roadmap__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 140px;
	position: relative;
	z-index: 2;
}
.roadmap__list > li {
	width: 100%;
	max-width: 550px;
	display: flex;
	flex-direction: column;
	background: #222222;
	border: 1px solid #8DFD1B;
}
.roadmap-card__top {
	border-bottom: 1px solid #8DFD1B ;
	padding: 15px;
	display: flex;
	align-items: center;
}

.roadmap-card__bottom {
	padding: 15px;
	display: flex;
	align-items: center;
}
.roadmap__info {
	padding-left: 15px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
}
.roadmap__info  li , .roadmap-card__bottom .roadmap__text p {
	font-family: Inter;
	font-size: 11px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
}
.roadmap-card__bottom .roadmap__text > p {
	margin: 10px 0px;
}
.roadmap-card__bottom img {
	margin-left: 25px;
	max-width: 130px;
	max-height: 130px;
	border-radius: 8px;
}

/* PARTNERS */ 
main section.partners {
	margin-top: 250px;
}
.partners__items h2 {
	color: #8DFD1B;
}
.partners__list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 60px 0px ;
}
.partners__list li {
	flex-basis: 30%;
}


/* frequently */

.frequently__list {
	width: 100%;
	max-height: 545px;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	background: #222222;
	padding: 25px;
}
.frequently__list li {
	overflow-y: auto;
}
.frequently__list li h2 {
	font-family: DM Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 30px;
}
.frequently__list li p {
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
}


/* TEAM */ 

.team__slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
h2.team__name {
	font-family: DM Mono;
	font-size: 21px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: center;
	margin-bottom: 0px;
	text-transform: uppercase;
}
h3.team__post {
	font-family: DM Mono;
	font-size: 11px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 1px;
	text-align: center;
	color: #8DFD1B;	
	text-transform: uppercase;
}
.team__slide p {
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
}



/* DISCORD */ 
.discord .section__items {
	align-items: center;
}
.discord .sect__item:first-child h2 span {
	color: #8DFD1B;
}
.discord .button img {
	margin-right: 10px;
}



/* Footer */ 

.footer {
	margin-top: 120px;
	background: #42006A;
	padding: 50px 0px;
}
.footer__items {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 60px 0px;
	justify-content: space-between;
}
.footer__list {
	display: flex;
	flex-basis: 50%;
	justify-content: space-between;
}
.footer__list  li {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.footer__items .social {
	align-items: flex-start;
}