@import url(text-style.css);
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top; max-width: 100%;}

/*--------------------*/

/*============ FLEX-CONTAINER-FOR_DOWN_FOOTER =======*/
._container {
	display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
	margin-top: 100px;
  flex-grow: 1;
}
footer {
  flex-shrink: 0;
}

/*===================================================*/

.content {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
}

body {
	background: black;
}

/* HEADER */

.header {
	background: black;
	width: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
}
.header__items {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.header__items .nav {
	width: 100%;
	display: flex;
	align-items: center;
}
.logo , .social {
	flex-grow: 0;
}
.nav__menu {
	margin-left: 60px;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 40px;
}
.nav__link {
	font-family: DM Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
}

.social {
	display: flex;
	align-items: center;
	gap: 10px;
}
.social li {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
}


/* MAIN */ 
section:not(section.master-section){
	margin-top: 100px;
}
.master-section__items {
	padding: 40px 0px;
	width: 100%;
	display: flex;
	align-items: center;
}
.master-section__text {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.master-section__text , .master-section__swiper {
	max-width: 50%;
}
.master-section__swiper .swiper-slide img {
	width: 100%;
}

.button {
	width: 205px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #8DFD1B;

	font-family: DM Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	color: black;
}



/* COLLECTION */ 
.collection h2 {
	text-align: left;
	margin-bottom: 0px;
}
.section__items {
	width: 100%;
	display: flex;
}
.sect__item {
	flex-basis: 50%;
}
.collection .sect__item:first-child {
	padding-right: 15%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}
.sect__item p {
	margin: 9px 0px;
}
.sect__item .button {
	margin-top: 30px;
}

/* ARTIST */


.artist__list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 50px 0px ;
}
.artist__list li {
	flex-basis: 23%;
}
.artist__img {
	max-width: 245px;
	max-height: 245px;
}
.artist__list h3 {
	margin-top: 20px;
	text-align: center;
}


/* MRL STORY */

.mrl__item {
	width: 100%;
	display: flex;
}
.mrl__list {
	flex-basis: 25%;
}
.mrl__list li {
	width: 100%;
	padding:  25px 0px;
	padding-left: 25px;
	transition: all 0.6s ease-out;
}
.mrl__list li h3 {
	display: inline-block;
	cursor: pointer;
}
.mrl__list li:hover ,.mrl__list li:active , .mrl__list li:focus{
	background: #222222;
}
.mrl__list li:hover h3  ,.mrl__list li:active h3 , .mrl__list li:focus h3 {
	color: #8DFD1B;
}
.mrl__contents {
	flex-basis: 75%;
}
.mrl__content {
	max-width: 100%;
	display: flex;
	padding: 40px;
	background: #222222;
}
.mrl__content.hide {
	display: none;
}
.mrl-img {
	margin-right: 40px;
	max-height: 250px;
}
.mrl__content_text p {
	margin: 18px 0px;
}